/* Entire Website */

* {
    font-family: 'Century Gothic';
}

.title {
	font-weight: bold;
    color: #990000;
}

.row-margin {
    text-align: left;
    margin-left: 2%;
	margin-right: 2%;
}

#confirmationtext{
    font-size:110%;
}

#errortext{
    font-weight: normal;
    font-size: small;
}

/* Navbar Content */

#tartanlist{
	font-size: 110%;
    color: white;
    font-weight: bold;
}

.glyphicon {
    color: white;
}

.glyphicon-search {
    color: black;
}

#navbarcolor {
	background-color: #9A0000;
}

/* Content */

div.sideForm {
    margin-left: 25%;
	margin-right: 45%;
	margin-top: 5%;
}

#sideButton {
	width: 100%;
}

#redhead {
	font-weight: bold;
    color: white;
    background-color: #990000;
}

#redbody {
	font-weight: bold;
    color: #990000;
    background-color: white;
    word-wrap: break-word;
}

#tabtext{
	font-weight: bold;
    color: #990000;
}

ul {
	list-style-type: none;	
}

p.content {
	font-size: 18px;
}

a.thumb-item {
	font-weight: bold;
	font-size: large;
}

.thumb-item {
    color: #990000;
}

.thumbnailpic {
   width: 250%;
   height: 250%;
}

.thumbnail{
    height: 250px;
    overflow: auto;
}

/* Login and Registration  */

#formwell {
    background-color: rgba(245, 245, 245, 0.5);
    border-color: #e68e8a;
}

#welcometext {
    color: white;
    font-family: 'Raleway';
    font-size: 90px;
    font-weight: 200;
    text-align: center;
}

#forgotpassword {
	font-size: 100%;
    color: #c9302c;
    font-weight: bold;
}

#bodywallpaper {
    background-image: url(/../static/Images/yellowold.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Item Details */

#share-buttons {
	float: center;
}

#map-canvas {
    margin: auto;
    width: 50%;
    padding-bottom: 50%;
}

#image-canvas {
    margin: auto;
}












