<!DOCTYPE html>
<html lang="en">
	<head>
	  	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	  	<meta charset="UTF-8">
	    <title>{% block title %} Tartan's List {% endblock %}</title>
	
		{% block imports %}
		
		    <!-- jQuery -->
		    <script src="/../../static/jquery/jquery-1.11.1.js"></script>
		    <script src="/../../static/jquery/bootstrap-datepicker.js"></script>

			<!-- Bootstrap Tab Javascript for the website -->
			<script src="/../../static/bootstrap/js/bootstrap.js">
			    	$(function () {
			        	$('#myTab a:last').tab('show')
			      	});
		    </script>
	
			{% block javascript %}{% endblock %}
	
			<!-- Custom CSS file-->
		    <link rel="stylesheet" href="/../../static/style/custom.css">
		    <link rel="stylesheet" href="/../../static/style/datepicker.css">
            <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:200,300,400,500">  

		    <!-- Latest Bootstrap CSS -->
		    <link rel="stylesheet" href="/../../static/bootstrap/css/bootstrap.min.css">
		    
			<!-- Icon for the website -->	    
			<link rel="icon" type="image/png" href="/../../static/images/favicon.ico">
			
		{% endblock %} 
	</head>
	
	{% block bodytag %} <body> {% endblock %}
	{% block navtitle %}
		<nav id = "navbarcolor" class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a id ="tartanlist" class="navbar-brand" href="{% url 'home' %}">Tartan's List</a>
				</div>
		{% block nav %}{% endblock %}
			</div>
		</nav>
	{% endblock %}
	
	<div class="row-margin">
		<div class="row">
            {% block row_content %} {% endblock %}
			<div class="col-xs-4 col-md-2">{% block side %}{% endblock %}</div>
			<div class="col-xs-8 col-md-10">{% block content %}{% endblock %}</div>
		</div>
	<div>
	
  </body>
</html>

