{% extends "nav_base.html" %}
{% block title %} Tartan's List | Edit {% endblock %}
	
{% block side %}
	<div class="panel panel-danger">
		<div id = "redhead" class="panel-heading">Name Change</div>
		<div id = "redbody" class="panel-body">
            {% if EditNameForm.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>Error!</strong>
                            {% for error in EditNameForm.non_field_errors %}
                                <p id="errortext" >{{ error }}</p>
                            {% endfor %}
                    </div>
            {% endif %}
			<form method="post" action="{% url 'edit_name' %}">
                {% for field in EditNameForm.visible_fields %}
                    {{ field }}
                {% endfor %}
                <br />
                <button class="btn btn-lg btn-danger btn-block" type="submit">Update</button>
                {% csrf_token %}
            </form>
		</div>
	</div>
	<div class="panel panel-danger">
		<div id = "redhead" class="panel-heading">Password Change</div>
		<div id = "redbody" class="panel-body">
            {% if EditPasswordForm.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<strong>Error!</strong>
						{% for error in EditPasswordForm.non_field_errors %}
						    <p id="errortext" >{{  error }}</p>
						{% endfor %}
                </div>
            {% endif %}
            {% if errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <strong>Error!</strong>
                <br>
                <p id="errortext">{{ errors }}</p>
            </div>
            {% endif %}

            <form method="post" action="{% url 'edit_password' %}">
                {% for field in EditPasswordForm.visible_fields %}
                    {{ field }}
                {% endfor %}
                <br>
                <button class="btn btn-lg btn-danger btn-block" type="submit">Update</button>
                {% csrf_token %}
            </form> 
		</div>
	</div>
	
{% endblock %}
{% block content %}

	<div class="well well-sm">
		<div class="row">
			<div class="col-xs-4 col-md-4"><h4 class="title">{{ items.count }} Items found</h4></div>
			<div class="col-xs-6 col-md-6"></div>
			<div class="col-xs-2 col-md-2"></div>
		</div>
	</div>
	
	<div class="well">
		<div class="row">
			{% for item in items %}
				<!-- single item -->
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
						{% if item.picture %}
                            <img src="{% url 'item-photo' item.id %}" alt="{{ item.title }}" class="thumbnail img-responsive">
                        {% else %}
                            <img src="/../../static/Images/default.png" > 
                        {% endif %}
						<div class="caption">
							<a href="{% url 'item-detail' item.id %}" class="thumb-item">{{ item.title }}</a>
							<br /><br />
							<a href="{% url 'item-edit' item.id %}">
								<button id="sideButton"  type="button" class="btn btn-danger btn-lg">Edit</button>
							</a>
							<br /><br />
							<a href="{% url 'item-delete' item.id %}">
								<button id="sideButton"  type="button" class="btn btn-danger btn-lg">Delete</button>
							</a>
						</div>
					</div>
				</div>
				<!-- end single item -->
			{% endfor %}
		</div>
	</div>
	
{% endblock %}

