{% extends "base.html" %}
    
	{% block title %} TartanList | Forgot Password {% endblock %}
    
    {% block navtitle %}
		
		{% block nav %}{% endblock %}

	{% endblock %}
    

   	{% block bodytag %} <body id="bodywallpaper"> {% endblock %}

    {% block content %}
        <div class="sideForm">
            {% if welcome %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <strong>Thank you!</strong> 
                    <br />
                    {{ welcome }}
                </div>
            {% endif %}
            {% if EnterNewPasswordForm.non_field_errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <strong>Error!</strong>
                    <br />
                    {% for error in EnterNewPasswordForm.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            <form method="post" action="{% url 'enter-new-password' %}">
                {% for field in EnterNewPasswordForm.visible_fields %}
                    {{ field }}
                {% endfor %}
                <br />
                <input type="hidden" name="email" value="{{ email }}">
                <button class="btn btn-lg btn-danger btn-block" type="submit">Update</button>
                {% csrf_token %}
           </form> 
        </div>
    {% endblock %}


    <div class="container">
     
    </div> 