{% extends "nav_base.html" %}
{% block title %} Tartan's List {% endblock %}
	
{% block side %}
	<form id="sortForm" method="GET" role="form" action="{% url 'sort-filter' %}" accept-charset="UTF-8">
		<h4 class="title">Categories:</h4>
			{% if FilterForm.non_field_errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<strong>Error!</strong>
					<ul>
						{% for error in FilterForm.non_field_errors %}
						    <li>{{ error }}</li>
						{% endfor %}
	                </ul>
                </div>
            {% endif %}
			{% for field in FilterForm.visible_fields %}
				{{ field }}
			{% endfor %}
		<hr />
		<h4 class="title">Price:</h4>
			{% if PriceForm.non_field_errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<strong>Error!</strong>
					<ul>
						{% for error in PriceForm.non_field_errors %}
						    <li>{{ error }}</li>
						{% endfor %}
	                </ul>
                </div>
            {% endif %}
            <div class="row">
				{% for fields in PriceForm.visible_fields %}
					<div class="col-xs-6 col-md-6">{{ fields }}</div>
				{% endfor %}
			</div>
		<hr />
		{% csrf_token %}
		<button id="sideButton" type="submit" class="btn btn-danger btn-lg">Filter</button>
	
{% endblock %}
{% block content %}

	<div class="well well-sm">
		<div class="row">
			<div class="col-xs-4 col-md-4"><h4 class="title">{{ items.count }} Items Found</h4></div>
			<div class="col-xs-6 col-md-6"></div>
			<div class="col-xs-2 col-md-2">
					{% if SortForm.non_field_errors %}
		                <div class="alert alert-danger alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<strong>Error!</strong>
							<ul>
								{% for error in SortForm.non_field_errors %}
								    <li>{{ error }}</li>
								{% endfor %}
			                </ul>
		                </div>
		            {% endif %}
				<div class="dropdown">
					{% for fields in SortForm.visible_fields %}
						{{ fields }}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	
	</form>
	
	<div class="well">
		<div class="row">
		{% for item in items %}
			<!-- single item -->
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
                {% if item.picture %}
					<img class="thumbnailpic" src="{% url 'item-photo' item.id %}" alt="{{ item.title }}">
                {% else %}
                    <img class="thumbnailpic" src="/../../static/Images/default.png" > 
                {% endif %}
					<div class="caption">
						<a href="{% url 'item-detail' item.id %}" class="thumb-item">{{ item.title }}</a>
						<hr />
						<h4>{% if item.price %}$ {{ item.price }}{% else %}Best Offer!{% endif %}</h4>
						<hr />
						<h4>{% if item.sellBy %}{{ item.sellBy }}{% else %}ASAP!{% endif %}</h4>
					</div>
				</div>
			</div>
			<!-- end single item -->
		{% endfor %}
		</div>		
	</div>
	
{% endblock %}

