{% extends "nav_base.html" %}
{% block title %} Tartan's List {% endblock %}
{% block javascript %}
	
	<!-- http://www.sharethis.com/get-sharing-tools/# -->
	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "ur-7fcf3cfd-6a80-eb80-2092-16fca291d658", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
	
	<!-- Google Maps API JavaScript -->
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script>
		function initialize() {
			var myLatlng = new google.maps.LatLng({{ item.latitude }} , {{ item.longitude }});
			var mapOptions = {
				zoom: 15,
				center: myLatlng
			}
			var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

			var marker = new google.maps.Marker({
				position: myLatlng,
				map: map,
				title: 'Location of item'
			});
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>	

	<!-- Facebook Commenting/Liking -->
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=644492665602656&version=v2.0";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}
{% block side %}
	<div class="panel panel-default">
		<div id="redhead" class="panel-heading">Item</div>
		<div id="redbody" class="panel-body">{{ item.title }}</div>
	</div>
	<div class="panel panel-default">
		<div id="redhead" class="panel-heading">Seller</div>
		<div id="redbody" class="panel-body">{{ itemUser.first_name }} {{ itemUser.last_name }}</div>
	</div>
	<div class="panel panel-default">
		<div id="redhead" class="panel-heading">Category</div>
		<div id="redbody" class="panel-body">{{ item.category }}</div>
	</div>
	<div class="panel panel-default">
		<div id="redhead" class="panel-heading">Price</div>
		<div id="redbody" class="panel-body">{% if item.price %}$ {{ item.price }}{% else %}Best Offer!{% endif %}</div>
	</div>
	<div class="panel panel-default">
		<div id="redhead" class="panel-heading">Sell By</div>
		<div id="redbody" class="panel-body">{{ item.sellBy }}</div>
	</div>
	
	<hr />
	<div id="share-buttons">
		<div class="row">
			<!-- http://www.sharethis.com/get-sharing-tools/# -->
			<div class="col-xs-3 col-md-3"><span class='st_facebook_large' displayText='Facebook'></span></div>
			<div class="col-xs-3 col-md-3"><span class='st_twitter_large' displayText='Tweet'></span></div>
			<div class="col-xs-3 col-md-3"><span class='st_googleplus_large' displayText='Google +'></span></div>
			<div class="col-xs-3 col-md-3"><span class='st_email_large' displayText='Email'></span></div>
		</div>
	</div>
	<hr />
	{% if user == itemUser %}
		<a href="{% url 'item-edit' item.id %}">
			<button id="sideButton"  type="button" class="btn btn-success btn-lg">Edit Item</button>
		</a><br /><br />
	{% else %}
		 <button id="sideButton" type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#messageModal" data-whatever="@mdo">Contact</button><br /><br />
	{% endif %}
	{% if item.itemURL %}
		<a href="{{ item.itemURL }}" target="_blank">
			<button id="sideButton" type="button" class="btn btn-danger btn-lg">External Link</button>
		</a>
	{% endif %}
	
{% endblock %}
{% block content %}
	{% if success %}
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<strong>Success!</strong> 
			<br />
			{{ success }}
		</div>
	{% elif warning %}
		<div class="alert alert-warning alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<strong>Hold on speedy!</strong>
			<br />
			{{ warning }} 
		</div>
	{% endif %}
	<div class="well">
		<h2 class="title">Image</h2>
        {% if item.picture %}
            <img id="image-canvas" src="{% url 'item-photo' item.id %}" alt="{{ item.title }}" class="thumbnail img-responsive">
        {% else %}
            <img id="image-canvas" src="/../../static/Images/default.png" alt="No Image" class="thumbnail img-responsive"> 
        {% endif %}
		
		<!-- description -->
		<h2 class="title">Description</h2>
		<p class="content">
			{{ item.description }}
		</p>
		<!-- end description -->
		
		<!-- google maps -->
		<h2 class="title">Location</h2>
        {% if item.latitude %}
            <div id="map-canvas"></div>
        {% else %}
            <p class="content"> Seller has chosen not to disclose the location of the item. Please contact the seller for location information </p>
		<!-- end google maps -->
        {% endif %}

        <h2 class="title">Comments</h2>
        	<div id="image-canvas">
        		<div class="fb-comments" data-href="http://tartanlist.com/item-comment={{ item.id }}" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
        	</div>

	</div>

	<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="messageModalLabel">Message</h4>
				</div>
				<form method="POST" role="form" action="{% url 'item-contact' item.id %}">
					<div class="modal-body">
						<div class="form-group">
							<textarea class="form-control" name="personal" id="message-text"> </textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-danger">Send</button>
					</div>
					{% csrf_token %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}


