{% extends "profile.html" %}
{% block title %} Tartan's List | Add {% endblock %}
	
{% block content %}
    <div class="well">
		<h4 class="title">Add New Item</h4>
	</div>
	
    <div class="well">
		{% if ItemForm.non_field_errors %}
	        <div class="alert alert-danger alert-dismissible" role="alert">
	            <button type="button" class="close" data-dismiss="alert">
	            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	            <strong>Error!</strong>
	            <br />
	            <ul>
		            {% for error in ItemForm.non_field_errors %}
		                <li>{{ error }}</li>
		            {% endfor %}
		        </ul>
	        </div>
	    {% endif %}
	    <form method="POST" enctype="multipart/form-data" action="{% url 'item-add-new' %}">
	        {% for field in ItemForm.visible_fields %}
	            {{ field }} <br />
	        {% endfor %}
	        <br />
	        <button class="btn btn-lg btn-success btn-block" type="submit">Add</button>
	        {% csrf_token %}
	   </form> 
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
		    $('#id_sellBy').datepicker();
		})
   	</script>
{% endblock %}

