{% extends "base.html" %}
    
	{% block title %} TartanList | Login {% endblock %}
	
    {% block navtitle %}
		
		{% block nav %}{% endblock %}

	{% endblock %}
    

   	{% block bodytag %} <body id="bodywallpaper"> {% endblock %}
	
    {% block row_content %} <h1 id="welcometext" > Welcome to Tartan's List </h1>{% endblock %}
    
  	{% block content %}	
		<div class="sideForm">
			{% if welcome %}
				<div class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<strong>Welcome!</strong> 
					<br />
					{{ welcome }}
                </div>
			{% endif %}
			{% if form.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<strong>Error!</strong>
					<br />
					{% for error in form.non_field_errors %}
					    {{ error }}
					{% endfor %}
                </div>
            {% endif %}
            <div id="formwell" class="well">
                <form class="form-group" method="POST" action="{% url 'django.contrib.auth.views.login' %}">
                    <input type="text" class="form-control" placeholder="Username" name="username" value="{{ username }}" required="">
                    <input type="password" class="form-control" placeholder="Password" name="password" value="{{ password }}" required="">
                    <br>
                    &nbsp<a id="forgotpassword" href="{% url 'reset' %}">Forgot password?</a> <br /><br />
                    <button id="sideButton" class="btn btn-lg btn-danger" type="submit">Sign In</button>
                    <hr>
                    {% csrf_token %}
                </form>
                <a href="{% url 'register' %}"><button id="sideButton" type="button" class="btn btn-danger btn-lg">Sign Up</button></a>
            </div>
		</div>
   
	{% endblock %}