{% extends "base.html" %}
{% block nav %}
	<form method="GET" class="navbar-form navbar-left" action="{% url 'search' %}" role="search">
		<div class="input-group">
		{% if SearchForm.non_field_errors %}
			{% for field in SearchForm.visible_fields %}
				{% for error in SearchForm.non_field_errors  %}
					<input type="text" class="form-control" placeholder="{{ error }}" name="search" value="{{ search }}" required="">
				{% endfor %}
			{% endfor %}
			<span class="input-group-btn">
				{% csrf_token %}
				<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
				}
			</span>
		{% else %}
			{% for field in SearchForm.visible_fields %}
				{{ field }}
			{% endfor %}
			<span class="input-group-btn">
				{% csrf_token %}
				<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
				}
			</span>
		{% endif %}	
		</div><!-- /input-group -->
	</form>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="{% url 'item-add' %}"><span class="glyphicon glyphicon-plus"></span></a></li>
		<li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span></a></li>
		<li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span></a></li>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'edit' %}">Edit</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
	</ul>
{% endblock %}