{% extends "base.html" %}
    
	{% block title %} TartanList | Confirmation needed {% endblock %}
    
     {% block navtitle %}
		
		{% block nav %}{% endblock %}

	{% endblock %}

   	{% block bodytag %} <body id="bodywallpaper"> {% endblock %}

{% block content %}
    <div class="sideForm">
        <div class="alert alert-warning" role="alert">
            <p id="confirmationtext">
                A confirmation email has been sent to <strong>{{ email }}</strong>.  Please click the link in that email to confirm your email address.
            </p> 
        </div>
    </div>
{% endblock %}

