{% extends "nav_base.html" %}
{% block title %} Tartan's List | Profile {% endblock %}
	
{% block side %}
	<div class="panel panel-default">
		<div id="redhead" class="panel-heading">Name</div>
		<div id="redbody" class="panel-body">{{ user.first_name }} {{ user.last_name }} </div>
	</div>
	<div class="panel panel-danger">
		<div id="redhead" class="panel-heading">Email</div>
		<div id="redbody" class="panel-body">{{ user.email }}</div>
	</div>
	<hr />
	<div class="panel panel-danger">
		<div id="redhead" class="panel-heading">Selling</div>
		<div id="redbody" class="panel-body">{% if items %}{{ items.count }}{% else %}0{% endif %}</div>
	</div>
	<div class="panel panel-danger">
		<div id="redhead" class="panel-heading">Expressed Interest</div>
		<div id="redbody" class="panel-body">{% if expressed %}{{ expressed.count }}{% else %}0{% endif %}</div>
	</div>
	<div class="panel panel-danger">
		<div id="redhead" class="panel-heading">Sold</div>
		<div id="redbody" class="panel-body">{% if sold %}{{ sold.count }}{% else %}0{% endif %}</div>
	</div>
{% endblock %}
{% block content %}
    
    <div class="well">
		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a id="tabtext" href="#sale" role="tab" data-toggle="tab">Items Selling</a></li>
			<li><a id="tabtext" href="#interest" role="tab" data-toggle="tab">Expressed Interest</a></li>
			<li><a id="tabtext" href="#sold" role="tab" data-toggle="tab">Items Sold</a></li>
		</ul>
	</div>
	
	<div class="well">
		<div class="tab-content">
			<div class="tab-pane active" id="sale">
                <div class="row">
                    {% for item in items %}
                    <!-- single item -->
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                {% if item.picture %}
                                    <img src="{% url 'item-photo' item.id %}" alt="{{ item.title }}">
                                {% else %}
                                    <img src="/../static/Images/default.png" > 
                                {% endif %}
                                <div class="caption">
                                    <a href="{% url 'item-detail' item.id %}" class="thumb-item">{{ item.title }}</a>
                                    <br />
                                    <a href="{% url 'item-sold' item.id %}">
                                        <br />
                                        <button id="sideButton"  type="button" class="btn btn-success btn-lg">Item Sold</button>
                                    </a>
                                </div>
                            </div>
                        </div>
					<!-- end single item -->
					{% endfor %}
                </div>
			</div>
			<div class="tab-pane" id="interest">
                <div class="row">
                    {% for item in expressed %}
                    <!-- single item -->
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                {% if item.picture %}
                                    <img src="{% url 'item-photo' item.id %}" alt="{{ item.title }}">
                                {% else %}
                                    <img src="/../static/Images/default.png" > 
                                {% endif %}
                                <div class="caption">
                                    <a href="{% url 'item-detail' item.id %}" class="thumb-item">{{ item.title }}</a>
                                </div>
                            </div>
                        </div>
					<!-- end single item -->
					{% endfor %}
                </div>
			</div>
			<div class="tab-pane" id="sold">
                <div class="row">
                    {% for item in sold %}
                    <!-- single item -->
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                {% if item.picture %}
                                    <img src="{% url 'item-photo' item.id %}" alt="{{ item.title }}">
                                {% else %}
                                    <img src="/../static/Images/default.png" > 
                                {% endif %}
                                <div class="caption">
                                    <div class="thumb-item">{{ item.title }}</div>
                                </div>
                            </div>
                        </div>
					<!-- end single item -->
					{% endfor %}
                </div>
			</div>
		</div>
	</div>
	
{% endblock %}

