{% extends "base.html" %}
    
	{% block title %} TartanList | Registration {% endblock %}

    {% block navtitle %}
		
		{% block nav %}{% endblock %}

	{% endblock %}
	
	{% block bodytag %} <body id="bodywallpaper"> {% endblock %}
    
    {% block row_content %} <h1 id="welcometext" > Welcome to Tartan's List </h1>{% endblock %}
	
  	{% block content %}
		<div class="sideForm">
            {% if RegistrationForm.non_field_errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<strong>Error!</strong>
					<ul>
						{% for error in RegistrationForm.non_field_errors %}
						    <li>{{ error }}</li>
						{% endfor %}
	                </ul>
                </div>
            {% endif %}
            <div id="formwell" class="well">
                <form class="form-group" method="POST" action="{% url 'register' %}">
                        {% for fields in RegistrationForm.visible_fields %}
                            {{ fields }}
                        {% endfor %}
                     <br />
                    <button class="btn btn-lg btn-danger btn-block" type="submit">Register</button>
                    <hr>
                    {% csrf_token %}
                </form>
                <a href="{% url 'login' %}"><button id="sideButton" type="button" class="btn btn-danger btn-lg">Sign In</button></a>
            </div>
		</div>
	{% endblock %}