{% extends "base.html" %}
    
	{% block title %} TartanList | Forgot Password {% endblock %}
    
    {% block navtitle %}
		
		{% block nav %}{% endblock %}

	{% endblock %}

   	{% block bodytag %} <body id="bodywallpaper"> {% endblock %}

    {% block content %}
    
        <div class="sideForm">
            <form method="post" action="{% url 'reset' %}">
                {% for field in ResetPasswordForm.visible_fields %}
                    {{ field }}
                {% endfor %}
                <br />
                <button class="btn btn-lg btn-danger btn-block" type="submit">Reset</button>
                {% csrf_token %}
            </form>
        </div> 

    {% endblock %}