{% extends "nav_base.html" %}
{% block title %} Tartan's List | Search {% endblock %}
	
{% block side %}
	<div class="panel panel-danger">
		<div id="redhead" class="panel-heading">Results</div>
		<div id="redbody" class="panel-body">
			{{ Appliances }} - Appliances
			<hr /> {{ Automative }} - Automotive
			<hr /> {{ Books }} - Books
			<hr /> {{ Phones }} - Phones
			<hr /> {{ Clothing }} - Clothing
			<hr /> {{ Computers }} - Computers
			<hr /> {{ Electronics }} - Electronics
			<hr /> {{ Home }} - Home 
			<hr /> {{ Rental }} - Rental
			<hr /> {{ Travel }} - Travel
			<hr /> {{ Office }} - Office
			<hr /> {{ Outdoors }} - Outdoors
			<hr /> {{ Other }} -  Other
		</div>
	</div>
{% endblock %}
{% block content %}

	<div class="well well-sm">
		<div class="row">
			<div class="col-xs-4 col-md-4"><h4 class="title">{{ items.count }} Items Found</h4></div>
			<div class="col-xs-6 col-md-6"></div>
			<div class="col-xs-2 col-md-2"></div>
		</div>
	</div>

	<div class="well">
		<div class="row">
		{% for item in items %}
			<!-- single item -->
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
                {% if item.picture %}
					<img src="{% url 'item-photo' item.id %}" alt="{{ item.title }}">
                {% else %}
                    <img src="/../../static/Images/default.png" > 
                {% endif %}
					<div class="caption">
						<a href="{% url 'item-detail' item.id %}" class="thumb-item">{{ item.title }}</a>
						<hr />
						<h4>{% if item.price %}$ {{ item.price }}{% else %}Best Offer!{% endif %}</h4>
						<hr />
						<h4>{% if item.sellBy %}{{ item.sellBy }}{% else %}ASAP!{% endif %}</h4>
					</div>
				</div>
			</div>
			<!-- end single item -->
			{% endfor %}
		</div>		
	</div>
	
{% endblock %}

